---
layout: default
---

<div class="home">
  <div class="posts" id="whowhatwhere" style="padding-bottom:25px; margin-bottom:100px; border-bottom:1px solid">
    <div class="post">
      <center>
        <img src="/images/me.jpeg" alt="Kuan Butts" class="avatar" style="border-radius:50%;max-height:100px"/>
        <a href="/about" class="post-link"><h3 class="h2 post-title">
          Who, what, and where
        </h3></a>
      </center>
      <p class="post-summary">
        I'm a researcher engineering digital tools with urban data; currently a <a href="http://www.codeforamerica.org/people/kuan-butts">2016 Fellow</a> in the Bay Area at <a href="http://www.codeforamerica.org/">Code for America</a>. Prior, I was in New York City as a Civic Tech Fellow at <a href="http://microsoftnewyork.com/">Microsoft</a>, where I developed performance data tools on top of MTA's One-Bus-Away implementation. Before that, I worked on scenario modelling software with the <a href="http://www.media.mit.edu/research/groups/changing-places">MIT Media Lab</a> and <a href="https://mfc.mit.edu/">Flocktracker</a> - a transit network mapping tool - with the <a href="http://smart.mit.edu/research/future-urban-mobility/future-urban-mobility.html">Singapore-MIT Alliance for Research and Technology</a> while performing graduate studies at <a href="http://web.mit.edu/">MIT</a>. <b><a href="/about">Learn more.</a></b>
    </div>
  </div>



  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h3 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>


<script type="text/javascript">
  var metas = document.getElementsByTagName('meta');
  var i;
  if (navigator.userAgent.match(/iPhone/i)) {
    for (i=0; i<metas.length; i++) {
      if (metas[i].name == "viewport") {
        metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
      }
    }
    document.addEventListener("gesturestart", gestureStart, false);
  }
  function gestureStart() {
    for (i=0; i<metas.length; i++) {
      if (metas[i].name == "viewport") {
        metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
      }
    }
  }

  // attribution: this is adapted from the work of: http://codepen.io/piksl/pen/EaxJxX

  var Boid = function ( x, y, angle ) {
      this.x = x;
      this.y = y;

      this.angle = Math.pow( Math.random(), 20 ) + angle;
      this.dx = Math.cos( this.angle );
      this.dy = Math.sin( this.angle );

      this.life = Math.random() * 100 + 100;
      this.dead = false;

      this.update = function () {

        context.strokeStyle = '#eeeeee';
        context.beginPath();
        context.moveTo( this.x, this.y );

        this.x += this.dx * 3;
        this.y += this.dy * 3;
        this.life -= 1;

        context.lineTo( this.x, this.y );
        context.stroke();

        var index = ( Math.floor( this.x ) + width * Math.floor( this.y ) ) * 4;

        if ( this.life <= 0 ) this.kill();
        if ( data[ index + 3 ] > 0 ) this.kill();

        if ( this.x < 0 || this.x > width ) this.kill();            
        if ( this.y < 0 || this.y > height ) this.kill();

      }

      this.kill = function () {

        boids.splice( boids.indexOf( this ), 1 );
        this.dead = true;

      }

  }

  var width = window.innerWidth;
  var height = window.innerHeight;
  document.getElementById('whowhatwhere').setAttribute("style","height:" + height + "px");

  var canvas = document.getElementById('world');
  canvas.width = width;
  canvas.height = height;

  var context = canvas.getContext( '2d' );
  var image, data;

  var boids = [];
  boids.push( new Boid( width / 2, height / 2, Math.random() * 180 * Math.PI / 180 ) );

  // if( !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

    var drawInterval = setInterval( function () {

        image = context.getImageData( 0, 0, width, height );
        data = image.data;

        for ( var i = 0; i < boids.length; i ++ ) {

          var boid = boids[ i ];
          boid.update();

          if ( !boid.dead && Math.random() > 0.5 && boids.length < 500 ) {

            boids.push( new Boid( boid.x, boid.y, ( Math.random() > 0.5 ? 90 : - 90 ) * Math.PI / 180 + boid.angle ) );

          }

        }

    }, 10 / 60 );

  // }

  setTimeout(function () {clearInterval(drawInterval)}, 7000)
</script>
