g[data-zoning="M"] polygon { fill: #440154; }
g[data-zoning="Undesignated"] polygon { fill: #440255; }
g[data-zoning="P/QP"] polygon { fill: #450558; }
g[data-zoning="P/OS"] polygon { fill: #45065a; }
g[data-zoning="2/3MUE"] polygon { fill: #46095d; }
g[data-zoning="2/3MUW"] polygon { fill: #460c60; }
g[data-zoning="4SRC"] polygon { fill: #470e61; }
g[data-zoning="5/MR/O"] polygon { fill: #471164; }
g[data-zoning="C/O"] polygon { fill: #471265; }
g[data-zoning="C/O-C"] polygon { fill: #481568; }
g[data-zoning="CCI/O"] polygon { fill: #48186a; }
g[data-zoning="CSMU"] polygon { fill: #48196c; }
g[data-zoning="DR"] polygon { fill: #481c6e; }
g[data-zoning="DR-C"] polygon { fill: #481d6f; }
g[data-zoning="FBWC"] polygon { fill: #482071; }
g[data-zoning="GC"] polygon { fill: #482274; }
g[data-zoning="GC-WO"] polygon { fill: #482475; }
g[data-zoning="HO"] polygon { fill: #482677; }
g[data-zoning="HR1"] polygon { fill: #482778; }
g[data-zoning="HR1-C"] polygon { fill: #472a79; }
g[data-zoning="HR1.5"] polygon { fill: #472c7b; }
g[data-zoning="HR1.8"] polygon { fill: #472e7c; }
g[data-zoning="I"] polygon { fill: #46307e; }
g[data-zoning="LI/O"] polygon { fill: #46317e; }
g[data-zoning="LMU"] polygon { fill: #453480; }
g[data-zoning="M-C"] polygon { fill: #453681; }
g[data-zoning="W"] polygon { fill: #443882; }
g[data-zoning="M-WO-C"] polygon { fill: #443a83; }
g[data-zoning="MR2"] polygon { fill: #433b84; }
g[data-zoning="MR2.5"] polygon { fill: #433e85; }
g[data-zoning="MR3"] polygon { fill: #424086; }
g[data-zoning="MR5"] polygon { fill: #414186; }
g[data-zoning="MR5-WO-C"] polygon { fill: #414387; }
g[data-zoning="NC"] polygon { fill: #404588; }
g[data-zoning="O"] polygon { fill: #3f4788; }
g[data-zoning="O-C"] polygon { fill: #3e4989; }
g[data-zoning="O-WO"] polygon { fill: #3e4a89; }
g[data-zoning="P/OS-WO"] polygon { fill: #3d4d8a; }
g[data-zoning="P/OS-C"] polygon { fill: #3c4e8a; }
g[data-zoning="P/OS-WO-C"] polygon { fill: #3b508b; }
g[data-zoning="P/OS-H"] polygon { fill: #3a528b; }
g[data-zoning="P/QP-WO"] polygon { fill: #3a538b; }
g[data-zoning="PD"] polygon { fill: #39558c; }
g[data-zoning="PD-H"] polygon { fill: #38568c; }
g[data-zoning="PD(1905)-H"] polygon { fill: #37588c; }
g[data-zoning="PD-WO"] polygon { fill: #365b8d; }
g[data-zoning="PD(1091)"] polygon { fill: #365c8d; }
g[data-zoning="PD(1255)"] polygon { fill: #355e8d; }
g[data-zoning="PD(1255)-WO"] polygon { fill: #345f8d; }
g[data-zoning="PD(1308)"] polygon { fill: #33618d; }
g[data-zoning="PD(1308)-C"] polygon { fill: #33638d; }
g[data-zoning="PD(1308)-WO-C"] polygon { fill: #32648e; }
g[data-zoning="PD(1335)"] polygon { fill: #31668e; }
g[data-zoning="PD(1349)"] polygon { fill: #31678e; }
g[data-zoning="PD(1391)"] polygon { fill: #30698e; }
g[data-zoning="PD(1393)-H"] polygon { fill: #2f6b8e; }
g[data-zoning="PD(1397)"] polygon { fill: #2f6c8e; }
g[data-zoning="PD(1397)-H"] polygon { fill: #2e6e8e; }
g[data-zoning="PD(1399)"] polygon { fill: #2d6f8e; }
g[data-zoning="PD(1411)"] polygon { fill: #2d708e; }
g[data-zoning="PD(1436)"] polygon { fill: #2c728e; }
g[data-zoning="PD(1439)"] polygon { fill: #2b738e; }
g[data-zoning="PD(1444)"] polygon { fill: #2b758e; }
g[data-zoning="PD(1444)(1604)"] polygon { fill: #2a768e; }
g[data-zoning="PD(1447)"] polygon { fill: #29788e; }
g[data-zoning="PD(1448)-WO"] polygon { fill: #297a8e; }
g[data-zoning="PD(1449)"] polygon { fill: #287b8e; }
g[data-zoning="PD(1449)-WO"] polygon { fill: #287d8e; }
g[data-zoning="PD(1451)-WO"] polygon { fill: #277e8e; }
g[data-zoning="PD(1476)(1478)-H"] polygon { fill: #26808e; }
g[data-zoning="PD(1488)(1507)(1573)"] polygon { fill: #26828e; }
g[data-zoning="PD(1493)"] polygon { fill: #25838e; }
g[data-zoning="PD(1496)"] polygon { fill: #25848e; }
g[data-zoning="PD(1507)(1573)"] polygon { fill: #24858e; }
g[data-zoning="PD(1508)"] polygon { fill: #23878e; }
g[data-zoning="PD(1512)"] polygon { fill: #23898e; }
g[data-zoning="PD(1519)"] polygon { fill: #228a8d; }
g[data-zoning="PD(1537)"] polygon { fill: #228c8d; }
g[data-zoning="PD(1542)"] polygon { fill: #218d8d; }
g[data-zoning="PD(1547)"] polygon { fill: #218f8d; }
g[data-zoning="PD(1555)"] polygon { fill: #20918c; }
g[data-zoning="PD(1562)"] polygon { fill: #20928c; }
g[data-zoning="PD(1563)"] polygon { fill: #1f938c; }
g[data-zoning="PD(1566)"] polygon { fill: #1f948c; }
g[data-zoning="PD(1569)"] polygon { fill: #1f968b; }
g[data-zoning="PD(1575)"] polygon { fill: #1e988b; }
g[data-zoning="PD(1933)"] polygon { fill: #1e998a; }
g[data-zoning="PD(1581)-H"] polygon { fill: #1e9b8a; }
g[data-zoning="PD(1590)"] polygon { fill: #1e9c89; }
g[data-zoning="PD(1594)"] polygon { fill: #1e9e89; }
g[data-zoning="PD(1613)"] polygon { fill: #1ea088; }
g[data-zoning="PD(1626)-WO"] polygon { fill: #1fa188; }
g[data-zoning="PD(1627)"] polygon { fill: #1fa387; }
g[data-zoning="PD(1628)"] polygon { fill: #1fa386; }
g[data-zoning="PD(1629)"] polygon { fill: #20a586; }
g[data-zoning="PD(1629)-H"] polygon { fill: #21a785; }
g[data-zoning="PD(1630)"] polygon { fill: #22a884; }
g[data-zoning="PD(1631)"] polygon { fill: #23aa83; }
g[data-zoning="PD(1632)"] polygon { fill: #24ab82; }
g[data-zoning="PD(1633)-C"] polygon { fill: #26ad81; }
g[data-zoning="PD(1634)"] polygon { fill: #28af80; }
g[data-zoning="PD(1635)"] polygon { fill: #29af7f; }
g[data-zoning="PD(1636)-WO"] polygon { fill: #2bb17e; }
g[data-zoning="PD(1637)"] polygon { fill: #2cb27d; }
g[data-zoning="PD(1638)"] polygon { fill: #2fb47c; }
g[data-zoning="PD(1639)"] polygon { fill: #32b67a; }
g[data-zoning="PD(1659)"] polygon { fill: #33b779; }
g[data-zoning="PD(1671)-WO"] polygon { fill: #36b878; }
g[data-zoning="PD(1910)"] polygon { fill: #38b977; }
g[data-zoning="PD(1676)(1488)"] polygon { fill: #3bbb75; }
g[data-zoning="PD(1678)"] polygon { fill: #3ebd73; }
g[data-zoning="PD(1690)"] polygon { fill: #40be72; }
g[data-zoning="PD(1697)"] polygon { fill: #44bf70; }
g[data-zoning="PD(1701)"] polygon { fill: #46c06f; }
g[data-zoning="PD(1711)"] polygon { fill: #49c26d; }
g[data-zoning="PD(1712)-WO-H"] polygon { fill: #4dc36b; }
g[data-zoning="PD(1847)"] polygon { fill: #4fc46a; }
g[data-zoning="PD(1717)"] polygon { fill: #53c668; }
g[data-zoning="PD(1895)"] polygon { fill: #55c666; }
g[data-zoning="PD(1729)"] polygon { fill: #5ac864; }
g[data-zoning="PD(1884)"] polygon { fill: #5ec962; }
g[data-zoning="PD(1737)"] polygon { fill: #60ca60; }
g[data-zoning="PD(1750)"] polygon { fill: #65cc5e; }
g[data-zoning="PD(1936)"] polygon { fill: #67cc5c; }
g[data-zoning="PD(1759)-H"] polygon { fill: #6cce5a; }
g[data-zoning="PD(1931)"] polygon { fill: #70cf57; }
g[data-zoning="PD(1909)-WO"] polygon { fill: #73d055; }
g[data-zoning="PD(1770)"] polygon { fill: #77d152; }
g[data-zoning="PD(1775)"] polygon { fill: #7ad251; }
g[data-zoning="PD(1779)"] polygon { fill: #7fd34e; }
g[data-zoning="PD(1790)-H"] polygon { fill: #84d44b; }
g[data-zoning="PD(1801)"] polygon { fill: #86d549; }
g[data-zoning="PD(1808)-H"] polygon { fill: #8bd646; }
g[data-zoning="PD(1821)"] polygon { fill: #8ed744; }
g[data-zoning="PD(1827)"] polygon { fill: #93d841; }
g[data-zoning="PD(1828)"] polygon { fill: #98d93e; }
g[data-zoning="PD(1860)-WO"] polygon { fill: #9bd93c; }
g[data-zoning="PD(1870)"] polygon { fill: #a0da39; }
g[data-zoning="R/O"] polygon { fill: #a3db37; }
g[data-zoning="R10"] polygon { fill: #a8dc33; }
g[data-zoning="R10-C"] polygon { fill: #addd30; }
g[data-zoning="R10-EA"] polygon { fill: #b0dd2e; }
g[data-zoning="R10-H"] polygon { fill: #b5de2b; }
g[data-zoning="R10-WO"] polygon { fill: #b8de29; }
g[data-zoning="R1a"] polygon { fill: #bddf26; }
g[data-zoning="R1a-H"] polygon { fill: #c3e023; }
g[data-zoning="R20"] polygon { fill: #c5e021; }
g[data-zoning="R20-C"] polygon { fill: #cbe11e; }
g[data-zoning="R20-H"] polygon { fill: #cde11d; }
g[data-zoning="R2a-H"] polygon { fill: #d3e21b; }
g[data-zoning="R2a"] polygon { fill: #d8e319; }
g[data-zoning="R5"] polygon { fill: #dbe318; }
g[data-zoning="R5-C"] polygon { fill: #e0e418; }
g[data-zoning="R5-EA"] polygon { fill: #e2e418; }
g[data-zoning="R7.5"] polygon { fill: #e8e519; }
g[data-zoning="R7.5-C"] polygon { fill: #ede51a; }
g[data-zoning="R7.5-EA"] polygon { fill: #efe61b; }
g[data-zoning="R7.5-H"] polygon { fill: #f4e61e; }
g[data-zoning="ROW"] polygon { fill: #f7e61f; }
g[data-zoning="W-WO"] polygon { fill: #fbe723; }
g[data-zoning="WEV"] polygon { fill: #fee724; }